/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

div.container {
  width: 876px;
  margin: 0 auto;
  font-size: 0px;
}

header {
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  margin: 35px 0 0 0;
}

nav div.text-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-right: 60px;
}

nav a {
  font-weight: bold;
  font-size: 15px;
  color: #cecece;
  text-decoration: none;
}

nav img {
  display: flex;
  align-items: center;
  width: 192px;
  margin-left: 80px;
}

img.services-header-img {
  margin: 20px 0 0 0;
}

section {
  width: 100%;
  margin: 0 auto;
}

section div {
  font-size: 16px;
  line-height: 1.3;
}

section.services-description {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid black;
}

section.services-description h2 {
  font-size: 28px;
}

section.services-description p {
  font-size: 16px;
  line-height: 1.3;
}

section.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

section.services-list div {
  width: 418px;
  border: 1px solid black;
  padding: 20px;
  margin: 0 0 40px 0;
  background: #f4f3f4;
}

section.services-list div button {
  background: white;
  margin: 15px 0 0 0;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  border-radius: 5px;
}

section.services-facts {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

section.services-facts div.text {
  font-size: 16px;
  line-height: 1.3;
  width: 50%;
}

section.services-facts div.text p {
  margin-bottom: 20px;
}

section.services-facts div.text ul {
  list-style-position: inside;
  list-style-type: square;
}

section.services-facts div.text li {
  margin: 10px 0;
}

section.hero {
  display: flex;
  margin-top: 75px;
}

div.hero-headline {
  display: flex;
  flex-direction: column;
  width: 50%;
}

div.hero-headline h2 {
  font-size: 82px;
  text-align: center;
}

div.hero-headline-button {
  width: 175px;
  border: 1px solid black;
  padding: 8px 10px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}

div.hero-image {
  display: flex;
  width: 50%;
}

div.hero-image img {
  margin-left: 48px;
}

section.first-content {
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 1px solid black;
  padding-top: 40px;
}

section.first-content div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 10px;
}

div.middle-img {
  width: 100%;
  margin-bottom: 50px;
}

section.second-content {
  display: flex;
}

section.second-content div {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 0 10px;
}

footer {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 20px;
}

div.contact {
  margin-top: 50px;
  border-top: 1px solid black;
  padding-top: 40px;
}

div.contact p {
  margin: 15px 0;
}

div.copyright {
  margin-top: 30px;
  text-align: center;
}

div.copyright.services-page {
  margin-top: 70px;
}
